<!DOCTYPE html>
<html>
<head>
  <title>내사이트</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/index.js"></script>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" href="/">메인</a></li>
        <li><a id="len2" class="hoverable" href="/movie">영화</a></li>
        <li><a id="len3" class="hoverable" href="/search">검색</a></li>
        <li><a id="len4" class="hoverable" href="/foodrandom">음식추천</a></li>
        <li><a id="len5" class="hoverable" href="/foodlist">음식리스트</a></li>
        <li><a id="len6" class="hoverable" href="/login">로그인</a></li>
      </ul>
    </div>
  </nav>