{{>layout/header}}
  <h2>뉴스검색</h2>
  <div class="form-inline">
    <label for="search"></label>
    <input type="text" class="form-control" id="search" placeholder="검색어 입력" name="search">
    <button type="button" class="btn btn-primary" id="btn-save">검색</button>
  </div>
  <div id="show"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var main = {
    init : function () {
      var _this = this;
      $('#btn-save').on('click', function () {
        _this.save();
      });
    },
    save : function () {
      var data = {
        search: $('#search').val()
      };
      $.ajax({
        type: 'POST',
        url: '/api/v1/news',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
      }).done(function (result) {
        $("#show").html("");
        // alert(data + '등록되었습니다.');
        $.each(result.items, function(i, field){
          var html = "<a href='" + field.link +"'>" + field.title + "</a><br>";
          $("#show").append(html);
        });
        // window.location.href = '/search';
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    },
  };

  main.init();

</script>
</body>
</html>
